<div class="row">

    <div class="col-md-12">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-th-large"></i>

                <h3>Current scores</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <div class="row">
                    <span ng-if="game.currentGame.currentScores.length == 0">
                        <div class="col-md-12 score">Waiting for scores...</div>
                    </span>
                    <div class="col-md-3"></div>
                    <div ng-repeat="score in game.currentGame.currentScores" class="col-md-2 score">
                        {{score.score}}
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-7">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-th-large"></i>

                <h3>{{game.currentGame.type}}</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="pricing-plans plans-3">

                    <div ng-repeat="player in game.currentGame.players" class="plan-container">
                        <div class="plan stacked {{game.currentGame.currentPlayer == player._id ? 'orange' : ''}}">
                            <div class="plan-header">

                                <div class="plan-title">
                                    {{player.user.username}}
                                </div> <!-- /plan-title -->

                                <div class="plan-price">
                                    {{player.scoreRemaining}}
                                    <span class="term">Remaining</span>
                                </div> <!-- /plan-price -->

                            </div> <!-- /plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li><strong>Free</strong> setup</li>
                                    <li><strong>Unlimited</strong> Website</li>
                                </ul>
                            </div> <!-- /plan-features -->

                        </div> <!-- /plan -->

                    </div> <!-- /plan-container -->

                </div> <!-- /pricing-plans -->

                <div class="clear"></div>

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->

    </div> <!-- /span8 -->

    <div class="col-md-5">

        <div id="dartboard-width" class="widget widget-nopad stacked">
            <div class="widget-header">
                <i class="icon-rocket"></i>

                <h3>Mark your scores</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content" id="db-container">
                <canvas style="position: absolute;" id="dartboard-container"></canvas>
            </div>

        </div>
    </div>

</div>

<script>
    board = new Dartboard(
            document.getElementById("db-container"),
            document.getElementById("dartboard-container"),
            function(amounts, thrownDarts, scores, lastScore) {
                saveScore(lastScore);
                if (3 == thrownDarts) {
                    board.reset();
                }
            }
    );

    board.manualScale(document.getElementById('dartboard-width').offsetWidth - 2);
    board.init();
    board.draw();

    // Call angular controller method from outside
    $(function() {
        saveScore = function(lastScore) {
            var scope = angular.element('#gameContainer').scope();
            scope.$apply(function() {
                scope.game.throw(lastScore);
            });
        };
    });
</script>