<div class="row">

    <div class="col-md-12">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-th-large"></i>

                <h3>
                    <strong>
                        Leg {{game.currentGame.currentLeg + 1}} of Set {{game.currentGame.currentSet + 1}}
                    </strong> (First to {{game.currentGame.firstToSets}} Sets)
                </h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <div class="row">
                    <span ng-if="game.currentGame.message">
                        <div class="col-md-12 col-xs-12 score">{{game.currentGame.message.msg}}</div>
                    </span>
                    <span ng-if="game.currentGame.currentScores.length == 0 && game.currentGame.running && !game.currentGame.message">
                        <div class="col-md-12 col-xs-12 score">Waiting for {{getCurrentPlayer().user.username}}..</div>
                    </span>
                    <span ng-if="game.currentGame.finished && !game.currentGame.message">
                        <div class="col-md-12 col-xs-12 score">GAME FINISHED</div>
                    </span>
                    <div class="col-md-3 hidden-phone"></div>
                    <div ng-repeat="score in game.currentGame.currentScores" class="col-md-2 col-xs-4 score">
                        {{score.fieldName}}
                    </div>
                    <div class="col-md-3 hidden-phone"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">

    <keyboard ng-show="(game.currentGame.currentPlayer == $root.currentUser._id) || ((!game.currentGame.players[game.currentGame.currentPlayerIndex].remote) && (game.currentGame.owner._id == $root.currentUser._id))"></keyboard>

    <div class="col-md-7">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-th-large"></i>

                <h3>{{game.currentGame.type}}</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="pricing-plans plans-3">

                    <div ng-repeat="player in game.currentGame.players" class="plan-container">
                        <div class="plan stacked {{game.currentGame.running && game.currentGame.currentPlayer == player._id ? 'orange' : ((game.currentGame.winner == player._id) ? 'green' : '')}}">
                            <div class="plan-header">

                                <div class="plan-title">
                                    <i class="icon-trophy" ng-show="game.currentGame.winner == player.user._id"></i>
                                    <i class="icon-circle-blank" ng-show="game.currentGame.running && player.user._id == game.currentGame.players[game.currentGame.currentLegBeginner].user._id"></i> {{player.user.username}}
                                </div> <!-- /plan-title -->

                                <div class="plan-price">
                                    {{player.scoreRemaining}}
                                    <span class="term">
                                        <span ng-repeat="field in player.checkoutPath">{{field.name}}<span ng-hide="$last"> - </span></span>
                                    </span>
                                </div> <!-- /plan-price -->

                            </div> <!-- /plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li>
                                        <strong>Sets:</strong> {{player.setsWon}}
                                        <strong>Legs:</strong> {{player.legsWon}}
                                    </li>
                                    <li><strong>Unlimited</strong> Website</li>
                                </ul>
                            </div> <!-- /plan-features -->

                        </div> <!-- /plan -->

                    </div> <!-- /plan-container -->

                </div> <!-- /pricing-plans -->

                <div class="clear"></div>

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->

    </div> <!-- /span8 -->

</div>