<div class="row">

    <div class="col-md-12">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-th-large"></i>

                <h3>Playing Leg {{game.currentGame.currentLeg + 1}} of Set {{game.currentGame.currentSet + 1}}</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <div class="row">
                    <span ng-if="game.currentGame.currentScores.length == 0">
                        <div class="col-md-12 col-xs-12 score">Waiting for scores...</div>
                    </span>
                    <div class="col-md-3 hidden-phone"></div>
                    <div ng-repeat="score in game.currentGame.currentScores" class="col-md-2 col-xs-4 score">
                        {{score.score}}
                    </div>
                    <div class="col-md-3 hidden-phone"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">

    <dartboard></dartboard>

    <div class="col-md-7">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-th-large"></i>

                <h3>{{game.currentGame.type}}</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="pricing-plans plans-3">

                    <div ng-repeat="player in game.currentGame.players" class="plan-container">
                        <div class="plan stacked {{game.currentGame.currentPlayer == player._id ? 'orange' : ''}}">
                            <div class="plan-header">

                                <div class="plan-title">
                                    {{player.user.username}}
                                </div> <!-- /plan-title -->

                                <div class="plan-price">
                                    {{player.scoreRemaining}}
                                    <span class="term">Remaining</span>
                                </div> <!-- /plan-price -->

                            </div> <!-- /plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li>
                                        <strong>Sets:</strong> {{player.setsWon}}
                                        <strong>Legs:</strong> {{player.legsWon}}
                                    </li>
                                    <li><strong>Unlimited</strong> Website</li>
                                </ul>
                            </div> <!-- /plan-features -->

                        </div> <!-- /plan -->

                    </div> <!-- /plan-container -->

                </div> <!-- /pricing-plans -->

                <div class="clear"></div>

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->

    </div> <!-- /span8 -->

</div>