<div class="account-container content clearfix">

    <form id="register-form" ng-submit="login.login();">
        <h1>Login</h1>

        <div class="login-fields">

            <p>Login using your registered ydb account:</p>

            <div ng-show="login.errorMessage" class="alert alert-danger">{{login.errorMessage}}</div>

            <div class="field">
                <label for="username">Username:</label>
                <input type="text" id="username" ng-model="login.user.username" name="username" value=""
                       placeholder="Your username" class="form-control input-lg username-field">
            </div> <!-- /field -->

            <div class="field">
                <label for="password">PIN:</label>
                <input type="password" id="password" ng-model="login.user.password" name="password" value=""
                       placeholder="Your personal PIN" class="form-control input-lg password-field">
            </div> <!-- /password -->

        </div> <!-- /login-fields -->

        <div class="login-actions">

            <button type="submit" class="login-action btn btn-primary">LOGIN</button>

        </div> <!-- .actions -->
    </form>
</div>