<div class="row">

    <div class="col-md-6 col-xs-12">

        <div class="widget widget-lesspad stacked">

            <div class="widget-header">
                <i class="icon-star"></i>

                <h3>Quick Stats</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="stats row">
                    <div class="col-lg-3 col-xs-3">
                        <div class="stat text-center">
                            <span class="stat-value">{{quickStats.gamesPlayed}}</span>
                            Games
                        </div> <!-- /stat -->
                    </div>
                    <div class="col-lg-3 col-xs-3">
                        <div class="stat text-center">
                            <span class="stat-value">{{quickStats.gamesWon}}</span>
                            Wins
                        </div> <!-- /stat -->
                    </div>
                    <div class="col-lg-3 col-xs-3">
                        <div class="stat text-center">
                            <span class="stat-value">{{quickStats.pctWon}}%</span>
                            % Win
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-3">
                        <div class="stat text-center">
                            <span class="stat-value">{{quickStats.avg.TDAVG | number : 2}}</span>
                            3D AVG
                        </div> <!-- /stat -->
                    </div>
                </div>

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-bookmark"></i>

                <h3>Navigation</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="shortcuts">
                    <a href="#startNewGameModal" data-toggle="modal" class="shortcut">
                        <i class="shortcut-icon icon-gamepad"></i>
                        <span class="shortcut-label">NEW GAME</span>
                    </a>
                    <a href="#startNewPracticeModal" data-toggle="modal" class="shortcut">
                        <i class="shortcut-icon icon-list-ol"></i>
                        <span class="shortcut-label">PRACTICE</span>
                    </a>
                    <a href="/stats" class="shortcut">
                        <i class="shortcut-icon icon-bar-chart"></i>
                        <span class="shortcut-label">STATISTICS</span>
                    </a>
                    <a href="/accuracy" class="shortcut">
                        <i class="shortcut-icon icon-bar-chart"></i>
                        <span class="shortcut-label">ACCURACY</span>
                    </a>
                </div> <!-- /shortcuts -->

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->


    </div> <!-- /span6 -->


    <div class="col-md-6">

        <div class="widget widget-nopad stacked">

            <div class="widget-header">
                <i class="icon-list-alt"></i>

                <h3>Current games</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <div ng-show="dashboard.activeGames.length <= 0" class="alert alert-info margin25">
                    Currently there are no games available.
                </div>
                <ul class="news-items">
                    <li ng-repeat="game in dashboard.activeGames">
                        <div class="news-item-detail">
                            <span ng-if="!game.running">
                                <span ng-if="dashboard.hasPlayerJoinedGame(game._id);">
                                    <button ng-hide="game.owner._id == $root.currentUser._id"
                                            ng-click="dashboard.removePlayerFromGame(game._id);"
                                            class="btn btn-success col-xs-12">
                                        LEAVE
                                    </button>
                                </span>
                                <span ng-if="!dashboard.hasPlayerJoinedGame(game._id);">
                                    <button ng-hide="game.owner._id == $root.currentUser._id"
                                            ng-click="dashboard.addPlayerToGame(game._id, $root.currentUser._id, true);"
                                            class="btn btn-success">JOIN
                                    </button>
                                </span>
                                <button ng-disabled="game.running" ng-show="game.owner._id == $root.currentUser._id"
                                        ng-click="dashboard.deleteGame(game._id);" class="btn btn-default">
                                    <i class="icon-trash"></i>
                                </button>
                                <a href="#addNewPlayerModal" data-toggle="modal" class="shortcut">
                                    <button ng-disabled="game.running" ng-show="game.owner._id == $root.currentUser._id"
                                            ng-click="addPlayerToGame.setGameId(game._id);" class="btn btn-default">
                                        + <i class="icon-user"></i>
                                    </button>
                                </a>
                                <button ng-hide="game.owner._id != $root.currentUser._id"
                                        ng-click="dashboard.startGame(game._id);" class="btn btn-danger">START
                                </button>
                            </span>
                            <span ng-if="game.running">
                                <a ui-sref="game({ gameId: game._id })">
                                    <button ng-show="!game.monitor" type="button" class="btn btn-info">
                                        <i class="icon-bullseye"></i> STARTED
                                    </button>
                                </a>
                                <a ui-sref="game({ gameId: game._id })">
                                    <button ng-show="game.monitor" type="button" class="btn btn-info">
                                        <i class="icon-eye-open"></i> WATCH
                                    </button>
                                </a>
                            </span>
                        </div>
                        <div class="news-item-detail">
                            <i ng-show="game.visibility" class="icon-unlock"></i>
                            <i ng-hide="game.visibility" class="icon-lock"></i>
                            -
                            <strong>{{game.type}} by {{game.owner.username}}
                                @ {{game.created | date : 'dd.MM.yyyy HH:mm'}}</strong>

                            <p class="news-item-preview">Currently {{game.players.length}} players</p>
                        </div>
                    </li>
                </ul>

            </div> <!-- /widget-content -->

            <ul>
                <li ng-repeat="joinedGame in dashboard.joinedGames">
                    {{joinedGame.type}} by {{joinedGame.owner.username}}
                </li>
            </ul>

        </div> <!-- /widget -->


    </div> <!-- /span6 -->

</div>

<add-game></add-game>
<add-practice></add-practice>
<add-player-to-game></add-player-to-game>
