<div class="row">

    <div class="col-md-6 col-xs-12">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-star"></i>
                <h3>Quick Stats</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="stats">

                    <div class="stat">
                        <span class="stat-value">123</span>
                        Games
                    </div> <!-- /stat -->

                    <div class="stat">
                        <span class="stat-value">60</span>
                        Wins
                    </div> <!-- /stat -->

                    <div class="stat">
                        <span class="stat-value">40,55</span>
                        3D Average
                    </div> <!-- /stat -->

                </div> <!-- /stats -->

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->


        <div class="widget widget-nopad stacked">

            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3>Current games</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <div ng-show="dashboard.games.length <= 0" class="alert alert-info margin25">
                    Currently there are no games available.
                </div>
                <ul class="news-items">
                    <li ng-repeat="game in dashboard.games">
                        <div class="news-item-detail">
                            <span ng-if="dashboard.hasPlayerJoinedGame(game._id);">
                                <button ng-hide="game.owner._id == $root.currentUser._id" ng-click="dashboard.removePlayerFromGame(game._id);" class="btn btn-success">LEAVE</button>
                            </span>
                            <span ng-if="!dashboard.hasPlayerJoinedGame(game._id);">
                                <button ng-hide="game.owner._id == $root.currentUser._id" ng-click="dashboard.addPlayerToGame(game._id);" class="btn btn-success">JOIN</button>
                            </span>
                            <button ng-show="game.owner._id == $root.currentUser._id" ng-click="dashboard.addPlayerToGame(game._id);" class="btn btn-danger">START</button>
                        </div>
                        <div class="news-item-detail">
                            <i ng-show="game.visibility" class="icon-unlock"></i>
                            <i ng-hide="game.visibility" class="icon-lock"></i>
                            -
                            <a href="javascript:;" class="news-item-title">{{game.type}} created by {{game.owner.username}}</a>
                            <p class="news-item-preview">Currently {{game.players.length}} players</p>
                        </div>
                    </li>
                </ul>

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->

    </div> <!-- /span6 -->


    <div class="col-md-6">


        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Quick Shortcuts</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="shortcuts">
                    <a href="#startNewGameModal" data-toggle="modal" class="shortcut">
                        <i class="shortcut-icon icon-list-alt"></i>
                        <span class="shortcut-label">NEW GAME</span>
                    </a>

                </div> <!-- /shortcuts -->

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->

    </div> <!-- /span6 -->

</div>

<div id="startNewGameModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Create a new game</h4>
            </div>
            <div class="modal-body" style="height: 400px;">
                <form action="/" id="validation-form" role="form" class="form-horizontal col-md-12" novalidate="novalidate">

                    <fieldset>

                        <div class="form-group">
                            <label for="selectGameType" class="col-lg-4">Game type</label>
                            <div class="col-lg-8">
                                <select ng-model="dashboard.newGame.type" id="selectGameType" class="form-control">
                                    <option value="501">501</option>
                                    <option value="401">401</option>
                                    <option value="301">301</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-lg-4">Visibility</label>

                            <div class="col-lg-8">

                                <div class="radio">
                                    <label>
                                        <input ng-model="dashboard.newGame.visibility" type="radio" id="optionGameVisibility1" ng-value="1">
                                        Public - everyone can join the game
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="dashboard.newGame.visibility" type="radio" id="optionGameVisibility2" ng-value="0">
                                        Private - i will add players to the game
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <button ng-click="dashboard.createNewGame()" type="button" class="btn btn-success"><i class="icon-gamepad"></i> Create game</button>&nbsp;&nbsp;
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
