<div id="startNewGameModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Create a new game</h4>
            </div>
            <div class="modal-body" style="min-height: 400px;">
                <form action="/" id="validation-form" role="form" class="form-horizontal col-md-12"
                      novalidate="novalidate">

                    <fieldset>

                        <div class="form-group">
                            <label for="selectGameType" class="col-lg-4">Game type</label>
                            <div class="col-lg-8">
                                <select ng-model="addGame.newGame.type" id="selectGameType" class="form-control" ng-options='type.value as type.name for type in types'>
                                    <option value="501">501</option>
                                    <option value="401">401</option>
                                    <option value="301">301</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selectGameType" class="col-lg-4">Mode</label>

                            <div class="col-lg-8">
                                <select ng-model="addGame.newGame.firstToSets" id="selectGameType" class="form-control" ng-options='mode.firstToSets as mode.name for mode in modes'>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-lg-4">Visibility</label>

                            <div class="col-lg-8">

                                <div class="radio">
                                    <label>
                                        <input ng-model="addGame.newGame.visibility" type="radio"
                                               id="optionGameVisibility1" ng-value="1">
                                        Public - everyone can join the game
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="addGame.newGame.visibility" type="radio"
                                               id="optionGameVisibility2" ng-value="0">
                                        Private - i will add players to the game
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="col-lg-4">Enable monitor?</label>

                            <div class="col-lg-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="validateCheckbox"
                                               ng-model="addGame.newGame.monitor" ng-value="1">
                                        Yes, everyone can watch the game!
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <button ng-click="addGame.createNewGame()" type="button" class="btn btn-success"><i
                                        class="icon-gamepad"></i> Create game
                                </button>
                                &nbsp;&nbsp;
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>