<div class="row">

    <div class="col-md-12">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-th-large"></i>

                <h3>
                    <strong>
                        Leg {{game.currentGame.currentLeg + 1}} of Set {{game.currentGame.currentSet + 1}}
                    </strong> (First to {{game.currentGame.firstToSets}} Sets)
                </h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <div class="row">
                    <span ng-if="game.currentGame.message">
                        <div class="col-md-12 col-xs-12 score">{{game.currentGame.message.msg}}</div>
                    </span>
                    <span ng-if="game.currentGame.currentScores.length == 0 && game.currentGame.running && !game.currentGame.message">
                        <div class="col-md-12 col-xs-12 score">Waiting for {{getCurrentPlayer().user.username}}..</div>
                    </span>
                    <span ng-if="game.currentGame.finished && !game.currentGame.message">
                        <div class="col-md-12 col-xs-12 score">GAME FINISHED</div>
                    </span>
                    <div class="col-md-3 hidden-phone"></div>
                    <div ng-repeat="score in game.currentGame.currentScores" class="col-md-2 col-xs-4 score">
                        {{score.fieldName}}
                    </div>
                    <div class="col-md-3 hidden-phone"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-5" ng-if="game.user.profile.scoreTracking == 'keypad'" ng-show="isScoreTrackerVisible();">

        <div id="dartboard-width" class="widget stacked">
            <div class="widget-header">
                <i class="icon-rocket"></i>

                <h3>Mark your scores</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content text-center keyboard">
                <keypad></keypad>
            </div>

        </div>
    </div>

    <div class="col-md-5" ng-if="game.user.profile.scoreTracking == 'dartboard'" ng-show="isScoreTrackerVisible();">

        <div id="dartboard-width" class="widget widget-nopad stacked">
            <div class="widget-header">
                <i class="icon-rocket"></i>

                <h3>Track your scores</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <dartboard></dartboard>
            </div>

        </div>
    </div>

    <div class="{{isScoreTrackerVisible() ? 'col-md-7' : 'col-md-12'}}">

        <div class="widget stacked">

            <div class="widget-header">
                <i class="icon-th-large"></i>

                <h3>{{game.currentGame.type}}</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="pricing-plans plans-3">

                    <div ng-repeat="player in game.currentGame.players" class="plan-container">
                        <div class="plan stacked {{game.currentGame.running && game.currentGame.currentPlayer == player._id ? 'orange' : ((game.currentGame.winner == player._id) ? 'green' : '')}}">
                            <div class="plan-header">

                                <div class="plan-title">
                                    <i class="icon-trophy" ng-show="game.currentGame.winner == player.user._id"></i>
                                    <i class="icon-circle-blank" ng-show="game.currentGame.running && player.user._id == game.currentGame.players[game.currentGame.currentLegBeginner].user._id"></i> {{player.user.username}}
                                </div> <!-- /plan-title -->

                                <div class="plan-price">
                                    {{player.scoreRemaining}}
                                    <span class="term">
                                        <span ng-repeat="score in player.checkoutPath">{{score.fieldName}}<span ng-hide="$last"> - </span></span>
                                    </span>
                                </div> <!-- /plan-price -->

                            </div> <!-- /plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li>
                                        <strong>Sets:</strong> {{player.setsWon}}
                                        <strong>Legs:</strong> {{player.legsWon}}
                                    </li>
                                    <li ng-if="player.TDAVG"><strong>3D AVG:</strong> {{player.TDAVG | number : 2}}</li>
                                    <li ng-if="player.highestScore > 0">
                                        <strong>Best score: </strong> {{player.highestScore}}
                                    </li>
                                    <li ng-if="player.highestCheckout > 0">
                                        <strong>Best Checkout: </strong> {{player.highestCheckout}}
                                    </li>
                                    <li ng-if="player.checkoutAttempts > 0">
                                        <strong>Checkouts:</strong> {{player.checkouts}}/{{player.checkoutAttempts}} {{(player.checkouts/player.checkoutAttempts) * 100 | number : 2}}%
                                    </li>
                                </ul>
                            </div> <!-- /plan-features -->

                        </div> <!-- /plan -->

                    </div> <!-- /plan-container -->

                </div> <!-- /pricing-plans -->

                <div class="clear"></div>

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->

    </div> <!-- /span8 -->

</div>